.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.class {
  border: 2px solid red;
  border-radius: 5px;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.container {
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  display: flex;
  align-items: center;
  justify-content:center;
}